:root {
    --blue-variant: #2196f3;
}


nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.link1{
    text-decoration: none;
}

.subrayado{
    width: 48px;
    height: 4px;
    background-color: var(--blue-variant);
}

.portafolio:hover {
    color: var(--blue-variant);
}

.estudio.hover{
    color: var(--blue-variant);
}